{% extends "main/layout.html" %}
{% load static %}
{% block content %}
<section class="content mb-5">

  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12">

        <div class="card shadow-lg border-0 rounded-4 text-center p-4">

          <!-- HEADER -->
          <h5 class="text-uppercase fw-bold mb-2" style="color:#2f3e9e;">
            Ministério do Desenvolvimento Rural e Habitação Comunitária
          </h5>

          <hr>

          <h4 class="fw-bold text-dark">
            SISTEMA MANAJEMENTO ASSETS
          </h4>

          <hr>

          <!-- LOGO -->
          <div class="my-3">
            <img src="{% static 'Image/MDHRC.png'%}" 
                 class="img-fluid"
                 style="max-height: 180px;">
          </div>

          <hr>

          <!-- WELCOME -->
          <h3 class="fw-bold">
            <a href="https://mdrhc.gov.tl/en/" 
               target="_blank" 
               class="text-decoration-none text-dark">
               BEMVINDO
            </a>
          </h3>

        </div>

      </div>
    </div>

  </div>

</section>
{% endblock %}